@model fcs.web.Models.Articolo

<div style="text-align:justify">
    <img src="@Model.Immagine1" class="img-responsive" style="float:right; margin:0 0 10px 10px" />@Model.Sezione1
</div>
<div style="text-align:justify">
    @Model.Sezione2
</div>
<div style="text-align:justify">
    <img src="@Model.Immagine2" class="img-responsive" style="float:left; margin:0 10px 10px 0" />@Model.Sezione3
</div>