@model IEnumerable<fcs.web.Models.Articolo>

@{
    ViewBag.Title = "ArticleList";
}


<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div >
                @foreach (var item in Model)
                {
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="@Url.Action("ArticleDetail", new { articleId = item.ArticoloID })"><h4>@item.Titolo</h4></a>
                                @Html.DisplayFor(modelItem => item.Abstract)
                                <div style="font-size:x-small">@Html.DisplayFor(modelItem => item.Data)</div> 
                            </div>
                            <div class="col-sm-8">
                                <img src="@item.ImmagineLista" class="img-responsive" />
                            </div>
                        </div>
                        
                    </div>
                }
            </div>
        </div>
    </div>
</section>



