@model IEnumerable<fcs.web.Models.Articolo>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Articoli";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            @Html.ActionLink("Create New", "ArticoloEdit")

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoriaID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Titolo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stato)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoriaID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titolo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stato)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "ArticoloEdit", new { id = item.ArticoloID }) |
                            @Html.ActionLink("Delete", "ArticoloDelete", new { id = item.ArticoloID })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

